# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\55989\Documents\2 - PROJECTS (git)\GESTÃO DE IDENTIDADES\entity-manager-docs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
